.title {
    font-size: 144px;
}
    
.background {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #4caf50, #2196);
    position: fixed;
    top: 0;
    z-index: -1;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home__row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock {
    font-size: 24px;
    cursor: pointer;
}

.date {
    font-size: 16px;
}

.toolbar {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
}

.toolbar__widget {
    margin: 0 12px 0 0;
    background: white;
    padding: 4px 12px;
    color: #363636;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    max-width: 160px;
    cursor: pointer;
    transition: all 300ms ease;
}

.toolbar__widget:hover {
    transform: translateY(-4px);
}

.stock__info {
    
}

.plus__sign {
    color: #363636;
}

/* SEARCH */

.search__results {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 12px;
    top: 0;
    transform: translateY(72px);
    width: 80%;
}

.article {
    border: 2px solid #aeaeae;
    border-radius: 8px;
    max-height: 300px;
    margin: 6px;
    color: #363636;
    background: white;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.article:hover .article__title {
    text-decoration: underline;
}

.article__title {
    font-weight: bold;
    font-size: 18px;
}

.article__date {
    padding-bottom: 12px;
}

.article__info {
    z-index: 2;
    height: 100%;
    padding: 24px;
    background: white;
}

.img__wrapper {
    max-width: 30%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.article__img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.totop__btn--container {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.totop__btn {
    border: 2px solid white;
    background: none;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
}